<section id="edituser" class="adminform manageuser">
	<h2><%= header %></h2>
	<%= render "error_messages", target: @admin_member_form %>
	<%= render "form", resource: admin_member_path(@admin_member_form) %>
</article>