<article id="edit-event" class="admin-form manage-activity">
  <h2><%= header %></h2>
  <%= render "error_messages", target: @events_form %>
  <%= render "form", resource: admin_event_path(@events_form) %>
</article>