<article id="editevent" class="adminform manageactivity">
	<h2><%= header %></h2>
	<%= render "error_messages", target: @admin_event_form %>
	<%= render "form", resource: admin_event_path(@admin_event_form) %>
</article>