<article id="new-event" class="admin-form manage-activity">
  <h2><%= header %></h2>
  <%= render "error_messages", target: @admin_event_form %>
  <%= render "form", resource: admin_events_path %>
</article>