<article id="newallowedaction" class="adminform manageallowedaction">
  <h2><%= header %></h2>
  <%= render "error_messages", target: @allowed_action %>
  <%= render "form", resource: admin_allowed_actions_path %>
</article>