<article id="admin">
	<h1>System Administration</h1>
	<ul>
		<%= link_to(admin_settings_path) do %>
			<li>
				<h1>
					Manage Settings
				</h1>
			</li>
		<% end %>
		<%= link_to(admin_users_path) do %>
			<li>
				<h1>
					Manage Users
				</h1>
			</li>
		<% end %>
		<%= link_to(admin_courts_path) do %>
			<li>
				<h1>
					Manage Courts
				</h1>
			</li>
		<% end %>
	</ul>
</article>