<section id="edit-booking" class="center-60 jazzy-form">
  <h2><%= header %></h2>
  <%= render "error_messages", target: @bookings_form %>
  <%= render "form_html", header: @header %>
  <%= render "delete", booking: @bookings_form %>
</section>