<section id="booking">
	<ul>
		<li>User id: <%= @booking.user_id %></li>
		<li>Court Number: <%= @booking.court_number %></li>
		<li>Playing at: <%= @booking.playing_at_text %></li>
	</ul>
	<% if allow? :bookings, :destroy, @booking %>
    	<div><%= link_to "Delete Booking", booking_path(@booking), method: :delete %></div>
  	<% end %>
</section>