<table>
  <tr>
    <td>
      <%= image_tag "logo.png", alt: "Stamford Squash Club logo" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= @booking.players %>
    </td>
  </tr>
  <tr>
     <td>
      Court <%= @booking.court.number %> on <%= @booking.time_and_place_text %>
    </td>
  </tr>
</table>