<div class="courts">
  <% unless grid.closure_message.empty? %>
   <div id="closure-message"><%= grid.closure_message %></div>
  <% end %>
  <%= render "table", object: calendar %>
  <%= render "table", object: grid %>
  <section id="ajax-booking" title="Booking" style="display:hidden"></section>
</div>
