<div id="courts">
  <% unless booking_slots.closure_message.empty? %>
   <div id="closure-message"><%= booking_slots.closure_message %></div>
  <% end %>
  <%= render "table", id: "calendar", object: calendar, remote: false %>
  <%= render "table", id: "booking-slots", object: booking_slots, remote: true %>
  <section id="ajax-booking" title="Booking" style="display:hidden"></section>
</div>