<%#= courts view %>

<div id="courts">
	<div id="closure_message"><%= @booking_slots.closure_message %></div>
	<%= render "table", id: "calendar", object: calendar %>
	<%= render "table", id: "bookingslots", object: booking_slots %>
  <section id="ajaxbooking" title="Booking" style="display:hidden"></section>
</div>