<div id="courts">
  <% unless booking_slots.closure_message.empty? %>
	 <div id="closure_message"><%= booking_slots.closure_message %></div>
  <% end %>
	<%= render "table", id: "calendar", object: calendar, remote: false %>
	<%= render "table", id: "bookingslots", object: booking_slots, remote: true %>
  <section id="ajaxbooking" title="Booking" style="display:hidden"></section>
</div>