<article id="edit-closure" class="admin-form manage-activity">
  <h2><%= header %></h2>
  <%= render "error_messages", target: @closure %>
  <%= render "form", resource: admin_closure_path(@closure) %>
</article>