*{
  padding: 0;
  margin: 0;
}

ul, ol{
  list-style-type: none;
}

html, body{
  height: 100%;
  width: 100%;
  text-decoration: none;
  font: {
    family: 'Helvetica Neue', helvetica, arial, sans-serif;
  }
}

a{
  text-decoration: none;
  color: $dark-green;

  &:hover{
    text-decoration: underline;
  }
}