<section id="edit-court" class="admin-form manage-court">
  <h2><%= header %></h2>
  <%= render "error_messages", target: @court %>
  <%= render "form", resource: admin_court_path(@court) %>
</article>