<article id="managecourts">
	<table class="admintable">
		<caption>Manage Courts</caption>
		<tr>
			<td><%= link_to "Add new court", new_admin_court_path %></td>
		</tr>
		<tr>
			<th>Court Number</th>
		</tr>
		<% courts.each do |court| %>
		
			<tr id="court_<%= court.id %>">
				<td>
					<div class="text"><%= court.number %></div>
				</td>
			</td>
		<% end %>
	</table>
</article>