// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared";

.admintable{
	@include standardtable(2);
	@include admintable;
}

#admin{
	width: 100%;
	margin-top: 20px;
	
	ul{
		margin-top: 20px;
		text-align: center;
		
		h2{
			padding:{
				top: 120px;
				bottom: 10px;
			}
			color: $dark_green;
		}
		
		p{
			font-size: 1.1em;
		}

		@each $admin in settings, members, courts, events, emails, reports{
			.#{$admin}{
				@include adminicon("#{$admin}.png");
			}
		}
		
		li{
			width: 32%;
			height: 270px;
			float: left;
			margin:{
				bottom: 10px;
			}
			padding:{
				left: 5px;
				right: 5px;
			}
			
			background-color: $light_brown;
		}
	}
}

#managesettings{

	fieldset{
		border: none;
	}
	
	label{
		margin-top: 5px;
		width: 60%;
	}
	
	input[type="text"]{
		width: 50px;
	}
	
	input[type="submit"]
	{
		position: relative;
		left: 5%;
		width: 100px;
	}
}

.adminform{

	fieldset{
		background-color: $light_brown;
		border: 2px solid $dark_brown;

		label{
			padding-top: 2px;
		}

		ul{
			li{
				margin: 0;
			}
		}

		fieldset{
			border: 2px dotted $dark_brown;

			ul{
				clear: both;
				width: 100%;
				margin-left: 20px;

				li{
					float: left;
					margin-right: 20px;
				}
			}
		}
	}
	
	.add_fields{
		margin-left: 60px;
		text-decoration: underline;
		font-size: 1.2em;
	}

	.submit{
		width: 100%;
	}

}

.managecourt{

	ul ul li{
		&:first-child{
			select{
				width: 120px;
			}
		}
	}

	fieldset{
		label{
			width: 100px;
		}
		fieldset{
			label{
				width: 50px;
			}
		}
	}

	input[type="text"]{
		width: 120px;
	}

	input[type="submit"]{
		position: relative;
		left: 85%;
	}

}

.manageuser{
	input[type="text"], input[type="email"], input[type="password"]{
		min-width: 250px;
	}

	fieldset{

		min-height: 250px;

		ul{
			margin: 0;
			float: left;
			width: 50%;	
			padding: 10px;

		}

		label{
			width: 200px;
		}
	}

	#permissions{
		float: right;
		width: 45%;
	}

	input[type="submit"]{
		position: relative;
		left: 87%;
	}

	.add_fields{
		margin-left: 0;
	}
}

.manageactivity{
	#courts{
		width: 50%;
		float: right;
		margin-top: 15px;

		label{
			width: 50px;
		}
	}

	fieldset{

		ul{
			margin: 0;
			float: left;
			width: 45%;	
			padding: 10px;

		}
	}

	input[type="submit"]{
		position: relative;
		left: 85%;
	}
}
