// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared";

#admin{
	margin: 5% auto 5% auto;
	width: 80%;
	
	li{
		margin: 10px 0 0 10px;
	    padding: 10px 0 0 0;
		height: 100px;
		background-color: $light_brown;
		border: 2px solid $dark_brown;
		
		@include rounded_corners(5px);
		
		h1{
			padding: 0 0 0 20px;
		}
	}
}

#manageusers, #managecourts{
	margin: 5% auto 5% auto;
	width: 80%;
	color: $dark_green;
	
	#addnew{
		font:{
			size: 1.5em;
		}
		position: relative;
		left: 85%;
	}

	ul{
		font:{
			color: $dark-green;
			size: 1.2em;
		}
	
		li{
	    	padding: 10px 0 0 0;
			height: 50px;
			background-color: $light_brown;
			border-top: 1px dotted $dark_brown;
			border-bottom: 1px dotted $dark_brown;
			
			.text{
				width: 150px;
				
			}
				
			.link{
				float: right;
				width: 150px;
				
				a{
					padding-right: 20px;
				}
			}
		
			div{
				display: inline-block;
				margin: 10px 10px 10px 10px;
			}
		}
	}
	
}

#newuser, #edituser{
	width: 50%;
	margin: 0 auto;
	
	fieldset{
		input[type="submit"]
		{
			position: relative;
			left: 75%;
			top: 20px;
			width: 120px;
		}
		
		input
		{
			width: 250px;
		}
		
		input[type="checkbox"]{
			width: auto;
		}
		
		label{
			width: 200px;
		}
		
		
	}
}

#managesettings{
	margin: 5% auto 5% auto;
	width: 90%;
	
	fieldset{
		border: none;
	}
	
	ul{
		background-color: $light_green;
		
		li{
			border:{
				top: 1px dotted $dark_brown;
				bottom: 1px dotted $dark_brown;
			};
		}
	}
	
	label{
		margin-top: 5px;
		width: 500px;
	}
	
	input[type="text"]{
		width: 50px;
	}
	
	input[type="submit"]
	{
		position: relative;
		left: 5%;
		width: 100px;
	}
}



