// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared";

.admintable{
	@include standardtable(2);
	@include admintable;
}

#admin{
	width: 100%;
	margin-top: 20px;
	
	ul{
		margin-top: 20px;
		text-align: center;
		
		h2{
			padding:{
				top: 120px;
				bottom: 10px;
			}
			color: $dark_green;
		}
		
		p{
			font-size: 1.1em;
		}

		@each $admin in settings, members, courts, events, emails, reports{
			.#{$admin}{
				@include adminicon("#{$admin}.png");
			}
		}
		
		li{
			width: 32%;
			height: 270px;
			float: left;
			margin:{
				bottom: 10px;
			}
			padding:{
				left: 5px;
				right: 5px;
			}
			
			background-color: $light_brown;
		}
	}
}

#managesettings{

	fieldset{
		border: none;
	}
	
	label{
		margin-top: 5px;
		width: 60%;
	}
	
	input[type="text"]{
		width: 50px;
	}
	
	input[type="submit"]
	{
		position: relative;
		left: 5%;
		width: 100px;
	}
}

#newcourt{

	label{
		width: 100px;
	}
	
	input[type="text"]
	{
		width: 100px;
	}
	
	fieldset fieldset ul {
		clear: both;
		width: 100%;
		
		li{
			float: left;
		}
		
	}

}



