@import "constants";
@import "mixins";

*{
    padding: 0;
}

ul, ol{
	list-style-type: none;
}

html, body{
	height: 100%;
	position: relative;
	text-decoration: none;
	font: {
		family: 'Helvetica Neue', helvetica, arial, sans-serif;
		size: 16px;
	}
}

a{
	text-decoration: none;
	color: black;
	
	&:hover{
		text-decoration: underline;
	}
}

fieldset{
	
	legend{
		display: none;
	}
	
	ul{
		margin: 5% auto 5% auto;
		width: 80%;
			
		li{
			margin: 0 0 0 10px;
		    padding: 10px 0 0 0;
		}
	}
		
	label{
		float: left;
		width: 120px;
		margin-right: 10px;
		text-align: right;
	}
}

legend{
	font:{
		size: 1.5em;
		weight: bold;
	}
}

select{
	min-width: 200px;
}

input[type="submit"]{
	width: auto;
	height: 35px;
	background-color: $dark_red;
	padding: 5px;
	color: white;
	border: none;
	font:{
		size: 1.2em;
	}
	
	@include rounded_corners(5px);
	@include gradient($dark_red, $dark_red_grad);
}

#container{
}

#header{
	height: 100px;
	color: white;
	
	#logo {
		background-color: white;
		position: absolute;
		top: 0px;
		left: 5%;
		padding: 5px 5px 0 5px;
	}
	
	font:{
		size: 1.1em;
	}
	
	nav{
		
		@include gradient( $dark_red, $dark_red_grad);

		height: 50px;

		ul{
			margin-left: 20%;
			padding-top: 15px;
			padding-bottom: 10px;

			li{
				float: left;
				padding-right: 30px;
			}
			
			a{
				color: white;
				
				&:hover{
					color: $light_brown;
				}
			}
		}

		.username{
			float: right;
			position: relative;
			top: -30px;
			left: -20px;
		}
	}
} 

#body{
	clear: both;
	padding-top: 10px;
	margin-left: 5%;
}

table
{
	tr{
		td{
			padding: 10px;
		}
	}
}

#bookingslots, #calendar{
	text-align: center;
}

#calendar{
	float: right;
	position: relative;
	left: -2%;
	color: black;
	
	table{
		
		caption{
			margin-bottom: 10px;
			color: $dark_green;
			font:{
				weight: bold;
				size: 1.1em;
			}
		}
		
		tr{
			td{
			}
			
			.selected{
			}
			
			th{
				padding: 5px 0 5px 0;
			}
			
			td, th{
				width: 25px;
				height: 25px;
				border: 1px solid black;
			}
			
			a{
				color: black;
			}
		}
	}
}

#bookingslots{
	table{
		width: 70%;
		border-collapse: collapse;
		
		tr{
			td, th{
				background-color: $light_brown;
				border: 1px dotted $dark_brown;
				
				&:first-child, &:last-child{
					width: 40px;
					vertical-align: top;
				}
			}

			td{
				height: 75px;
			}

			th{
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
	}
	
}

#signin{
	width: 45%;
	margin: 0 auto;

	fieldset{
			
		input[type="submit"]
		{
			position: relative;
			left: 70%;
		}  
	}
}

#newbooking{
	width: 50%;
	margin: 0 auto;
	
	fieldset{
		input[type="submit"]
		{
			position: relative;
			left: 45%;
			top: 20px;
		}
	}
}

#new_user, #new_booking{
	
	margin-bottom: 20px;
	border: 1px solid $dark_green;
	background-color: $light_green;
	
	@include rounded_corners(5px);
	
}

#flash{
	margin: 0 auto;
	width: 60%;
	font:{
		size: 1.3em;
		weight: bold;
	}

	.notice{
		@include flash($dark_green,"notice.png");
	}
	
	.alert{
		@include flash($dark_red,"alert.png");
	}
	
}

#errors{
	color: $dark_red;
	border: 1px solid $dark_red;
	border-top: 3px solid $dark_red;
	margin-bottom: 20px;
	padding-left: 20px;
	
	h3{
		font:{
			size: 1.4em;
		};
	}
	
	ul{
		margin-left: 20px;
		
		li{
			list-style-type: disc;
		}
	}
}

footer{
	width: 100%;
	margin-top: 50px;
	height: 40px;
	border-top: 2px solid $dark_red;
	
	div{
		width: 90%;
		margin: 0 auto 0 auto;
		padding-top: 10px;
	}
}
