// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared";

#newbooking, #editbooking{
	width: 50%;
	margin: 0 auto;
}

#ajaxbooking{
	font-size: 14px;
	
}

#newbooking, #editbooking, #ajaxbooking{
	fieldset{
		input[type="submit"]
		{
			position: relative;
			left: 45%;
			top: 20px;
		}
	}
}

#bookings{
	table{
		margin: 5% auto 5% auto;
		width: 80%;
		text-align: center;
		
		th{
			padding: 10px 0 10px 0;
			background-color: $dark_green;
			color: white;
		}
		
		tr{
			background-color: $light_brown;
			border-bottom: 1px dotted $dark_brown;
		}
	}
}
