$dark_green: 		#003935;
$dark_green_grad: 	#01544E;
$light_green:		#A6BAB8;
$dark_brown: 		#9A7A55;
$light_brown: 		#DDD1C3;
$dark_red:			#A5191E;
$dark_red_grad:		#BD1D22;
$light_red: 		#DFAFB0;
$light_grey:		#C0C0C0;