//constants.css.scss

$dark-green:         #003935;
$dark-green-grad:    #01544E;
$light-green:        #A6BAB8;
$dark-brown:         #9A7A55;
$mid-brown:          #DDD1C3;
$light-brown:        #FCF7F1;
$dark-red:           #A5191E;
$dark-red-grad:      #C6353A;
$light-red:          #DFAFB0;
$light-grey:         #C0C0C0;