// Place all the styles related to the courts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared";

#calendar, #bookingslots{
	text-align: center;
}

#calendar{
	
	float: right;
	padding:{
		left: 20px;
		top: 40px;
	}
	color: black;
	font-size: 0.9em;

	table{
		
		background-color: $light_brown;
		
		caption{
			margin-bottom: 10px;
			color: $dark_green;
			font:{
				weight: bold;
				size: 1.1em;
			}
		}
		
		tr{
			.selected{
				
				background-color: $light_green;
			}
			
			td, th{
				width: 25px;
				height: 25px;
				border: 1px solid black;
			}
			
			a{
				color: black;
			}
		}
	}
}

#bookingslots{
	table{
		@include standardcaption;
		
		tr{
			td, th{
				background-color: $mid_brown;
				border: 1px dotted $dark_brown;
				
				&:first-child, &:last-child{
					width: 40px;
					vertical-align: top;
				}
			}

			td{
				
				height: 50px;
				width: 25%;
				
				&:not(:first-child):not(:last-child){
					font-size: 0.8em;
					
					&:hover{
						border-collapse: separate;
						@include highlight(0px,0px,6px,$dark_brown);
					}
					
				}
				
				a{
					color: $mid_brown;
					display: block;
					height: 100%;
				}
				
			}

			.booking{
				color: black;
				font:{
					size: 1em;
				}
				vertical-align: center;
				text-align: center;
				background-color: $light_green;

				a{
					color: black;
				}
			}


			th{
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}

		.past{
			td{
				&:not(:first-child):not(:last-child){
					background-color: $light_grey;
				}

				a{
					color: $light_grey;
				}
			}

			.booking{
				background-color: $light_grey;
				color: black;
			}
		}
	}

}