@import "shared";

fieldset{

	legend{
		display: none;
	}

	ul{
		margin: 5% auto 5% auto;
		width: 80%;

		li{
			margin: 0 0 0 10px;
		    padding: 10px 0 0 0;
		}
	}

	label{
		float: left;
		width: 120px;
		margin-right: 10px;
		text-align: right;
	}
}

legend{
	font:{
		size: 1.5em;
		weight: bold;
	}
}

input[type="submit"]{
	width: auto;
	height: 35px;
	background-color: $dark-red;
	padding: 5px;
	color: white;
	border: none;
	font:{
		size: 1.2em;
	}

	@include rounded-corners(5px);
	@include gradient($dark-red, $dark-red-grad);
}

.jazzyform{
	fieldset{
		@include jazzy-form;
	}
}

#signin{
	width: 50%;
	margin: 0 auto;

	fieldset{

		margin-bottom: 10px;

		input[type="submit"]
		{
			position: relative;
			left: 70%;
		}
	}
}

.center-60{
  width: 60%;
  margin: 0 auto;
}

#ajaxbooking{
	font-size: 0.8em;

}

#newbooking, #editbooking, #ajaxbooking{
	fieldset{
		input[type="submit"]
		{
			position: relative;
			left: 55%;
			top: 20px;
		}
	}
}

#mydetails, #changepassword{
  label{
    width: 200px;
  }
  input[type="submit"]
  {
    position: relative;
    left: 55%;
  }
}

#forgottenpassword{
  input[type="submit"]
    {
      position: relative;
      left: 25%;
    }
}