@import "shared";

*{
    padding: 0;
	margin: 0;
}

ul, ol{
	list-style-type: none;
}

html, body{
	height: 100%;
	width: 100%;
	text-decoration: none;
	font: {
		family: 'Helvetica Neue', helvetica, arial, sans-serif;
	}
}

a{
	text-decoration: none;
	color: $dark_green;
	
	&:hover{
		text-decoration: underline;
	}
}

h2,h3,h4,h5,h6{
	color: $dark_green;
}

header, footer{
	float: left;
	min-width: 100%;
}

.wrap{
	margin: 0 auto;
	width: 1060px;
}

header{
	margin-top: 10px;
	color: white;
	height: 50px;
	background-color: $dark_red;
	
	@include gradient($dark_red, $dark_red_grad);
	
	#logo {
		padding-left: 3px;
		background-color: white;
		width: 140px;
		float: left;
	}
	
	font:{
		size: 1.1em;
	}

	nav{
		
		ul{
			margin-left: 200px;
			padding-top: 15px;
			padding-bottom: 10px;

			li{
				float: left;
				padding-right: 30px;
			}

			a{
				color: white;
				
				&:hover{
					color: $light_brown;
				}
			}
		}

		.username{
			float: right;
			position: relative;
			left: -20px;
			top: -10px;
		}
	}
}

footer{
	border-top: 2px solid $dark_red;
	margin-top: 50px;
	height: 40px;
	
	#copyright{
		padding-top: 10px;
	}
}


#container{
	position: relative;
	width: 100%;
	min-height: 100%;
}

#body{
	clear: both;
	padding-top: 50px;
	margin: 0 auto;
	width: 1060px;
}

td{
	padding: 5px;
}

#flash{
	margin: 0 auto;
	width: 80%;
	font:{
		size: 1.3em;
		weight: bold;
	}

	.notice{
		@include flash($dark_green,"notice.png");
	}
	
	.alert{
		@include flash($dark_red,"alert.png");
	}
	
}

#errors{
	color: $dark_red;
	border: 1px solid $dark_red;
	border-top: 3px solid $dark_red;
	margin:{
		top: 20px;
		bottom: 20px;
	}
	padding-left: 20px;
	
	h3{
		font:{
			size: 1.4em;
		};

		color: $dark_red;
	}
	
	ul{
		margin-left: 20px;
		
		li{
			list-style-type: disc;
		}
	}
}

.standardtable{
	@include standardtable(1);
}

.field_with_errors {
    display: inline-block;

    input{
    	border: 3px solid $dark_red;
    }
}