//mixins.css.scss

@mixin gradient($top, $bottom){
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $top), color-stop(1, $bottom));
	background-image: -o-linear-gradient(bottom, $top, $bottom);
	background-image: -moz-linear-gradient(bottom, $top, $bottom);
	background-image: -webkit-linear-gradient(bottom, $top, $bottom);
	background-image: -ms-linear-gradient(bottom, $top, $bottom);
	background-image: linear-gradient(to bottom, $top,$bottom);
}

@mixin rounded_corners($width){
	border-radius: $width; 
	-moz-border-radius: $width; 
	-webkit-border-radius: $width;
}

@mixin drop_shadow($width, $colour){
	-moz-box-shadow: $width $width $width $colour;
	-webkit-box-shadow: $width $width $width $colour;
	-o-box-shadow: $width $width $width $colour;
	box-shadow: $width $width $width $colour;
	
}

@mixin highlight($horiz, $vert, $blur, $colour){
	-moz-box-shadow: $horiz $vert $blur $colour, inset $horiz $vert $blur $colour;
	-webkit-box-shadow: $horiz $vert $blur $colour, inset $horiz $vert $blur $colour;
	-o-box-shadow: $horiz $vert $blur $colour, inset $horiz $vert $blur $colour;
	box-shadow: $horiz $vert $blur $colour, inset $horiz $vert $blur $colour;
}

@mixin flash($colour, $image){
	border: 1px solid $colour;
	border-top: 3px solid $colour;
	color: $colour;
	
	height: 40px;
	
	p{
		text-align: left;
		margin-top: 5px;
		padding-left: 40px;
		width: auto;
	}
	
	@include drop_shadow(3px, $light_grey);
	@include rounded_corners(2px);
	
	background:{
		image: image-url($image);
		repeat: no-repeat;
	};
}

@mixin jazzyform{
	border: 1px solid $dark_green;
	background-color: $light_green;
	@include rounded_corners(5px);
}

@mixin adminicon($image){
	background:{
		image: image-url($image);
		repeat: no-repeat;
		position: center 5%;
	}
}

@mixin standardcaption{
	caption{
		font:{
			size: 1.5em;
			weight: bold;
		}
		
		text-align: left;
		margin: 20px 0 20px 0;
		color: $dark_green;
	}
}

@mixin standardtable($header_row){
	width: 100%;
	
	@include standardcaption;
		
	th{
		padding: 10px 0 10px 0;
		color: $dark_green;
	}
		
	tr{
		&:not(:first-child):not(:nth-child(#{$header_row})){
			background-color: $light_brown;
			border-bottom: 1px dotted $dark_brown;
		}
			
		&:nth-child(#{$header_row}){
			background-color: $light_red;
			border:{
				top: 2px solid $dark_red;
				bottom: 2px solid $dark_red;
			}
		}
	}
}

@mixin admintable{
	th{
		text-align: left;
		padding-left: 5px;
	}
	
	tr{
		&:first-child{
			text-align: right;
			font-size: 1.2em;
			padding-bottom: 5px;
		}
		
	}
}