@import "shared";

.ui-dialog-titlebar{
	@include gradient( $dark-red, $dark-red-grad);
	color: white;
}

.ui-dialog-content{
	fieldset{
		@include jazzy-form;
	}
}

.ui-button{
	color: white;
	background-color: black;
}