<ul id="<%= id %>">
	<li>
		<%= f.label :allowed_action_id, "Permission" %>
		<%= f.collection_select :allowed_action_id, AllowedAction.all, :id, :name %>
	</li>
	<li>
		<a class='remove_fields' href='#'>Remove</a>
	</li>
</ul>