<ul id="courts">
	<fieldset>
		<legend>Courts</legend>
		<h2>Courts</h2>
		<% @manage_user_form.permissions.each_with_index do |permission, i| %>
			<%= f.fields_for :permissions, permission, index: i do |builder| %>
				<%= render 'permission', f: builder, id: "permission_#{i+1}" %>
			<% end %>
		<% end %>
		<ul><li><%= link_to_add_fields "Add permissions", f, :permissions %></li></ul>
	</fieldset>
</ul>