<fieldset id="courts">
	<h2>Courts</h2>
	<ul>
		<%= hidden_field_tag "#{f.object_name}[court_ids][]", nil %>
    <% Court.all.each do |court| %>
      <li>
        <%= label_tag dom_id(court), court.number %>
      	<%= check_box_tag "#{f.object_name}[court_ids][]", court.id, object.court_ids.include?(court.id), id: dom_id(court) %>
      </li>
    <% end %>
	</ul>
</fieldset>