<header id="header">
	<div class="wrap">
		<div id="logo">
			<%= link_to(image_tag("logo.png", :alt =>  "Stamford Squash Club - Court Bookings"), root_path) %>
		</div>
		<%= render "nav" %>
	</div>
</header>