<fieldset id="permissions">
	<h2>Permissions</h2>
	<ul>
		<%= hidden_field_tag "#{f.object_name}[allowed_action_ids][]", nil %>
    <% AllowedAction.all.each do |allowed_action| %>
      <li>
        <%= label_tag dom_id(allowed_action), allowed_action.name %>
      	<%= check_box_tag "#{f.object_name}[allowed_action_ids][]", allowed_action.id, object.include_action?(allowed_action), id: dom_id(allowed_action) %>
      </li>
    <% end %>
	</ul>
</fieldset>