<article id="editclosure" class="adminform manageclosure">
	<h2><%= header %></h2>
	<%= render "error_messages", target: @manage_closure_form %>
	<%= render "form", resource: admin_closure_path(@manage_closure_form) %>
</article>