<article id="editclosure" class="adminform manageactivity">
	<h2><%= header %></h2>
	<%= render "error_messages", target: @admin_closure_form %>
	<%= render "form", resource: admin_closure_path(@admin_closure_form) %>
</article>