<article id="newclosure" class="adminform manageclosure">
	<h2><%= header %></h2>
	<%= render "error_messages", target: @manage_closure_form %>
	<%= render "form", resource: admin_closures_path %>
</article>