<div class="courts">
  <% unless tab.closure_message.empty? %>
   <div id="closure-message"><%= tab.closure_message %></div>
  <% end %>
  <%= render "table", object: calendar %>
  <%= render "table", object: tab %>
  <section id="ajax-booking" title="Booking" style="display:hidden"></section>
</div>
